<%= form_for(@country) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :full_name %><br/>
    <%= f.text_area :full_name %>
  </p>
  <p>
    <%= f.label :image_file_name %><br/>
    <%= f.text_field :image_file_name, size: 30, placeholder: "GIF, JPG pr PNG file name" %>
  </p>
  <p>
    <%= f.submit  %> |
    <%= link_to "Cancel", countries_path %>
  </p>
<% end %>